<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page_title }}
      -
      {{ shop.name }}
    </title>
    {{ content_for_header }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/react-beautiful-dnd@13.1.1/dist/react-beautiful-dnd.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <script src="{{ 'shopify.edit.js' | asset_url }}" defer type="text/babel"></script>
    <script src="{{ 'shopify.kaching.js' | asset_url }}" defer type="text/babel"></script>
  <body>
    {{ content_for_layout }}
    <div id="react-modal-root"></div>
  </body>
</html>
